<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <div th:replace="header_index :: head"></div>
        <title>SnapStack</title>
        <link th:href="@{/css/style_form_login_signup.css}" rel="stylesheet">
    </head>
    <body onload="disableLoginBtn()">
        <div th:replace="header_index :: header"></div>
        <h1 id="heading">Login</h1>
        <form id="form" method="post" th:object="${user}" th:action="@{/login_signup/login}">
            <input type="text" th:field="*{username}" id="username" placeholder="Username" required /><br><br>

            <input type="password" th:field="*{password}" id="password" placeholder="Password" required /><br><br>

            <input id="sub" type="submit" value="LOGIN" />
        </form>
    </body>
    <script th:src="@{/js/script_links.js}"></script>
</html>